{% extends 'base.html.twig' %}

{% block title %}Edit PlaceReviews{% endblock %}

{% block body %}
    <h1>Edit PlaceReviews</h1>

    {{ include('place_reviews/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_place_reviews_index') }}">back to list</a>

    {{ include('place_reviews/_delete_form.html.twig') }}
{% endblock %}
